html,body{
    height:100%;
}

.row,.container-fluid{
    height:100%;
	}
	
.container {
    width: 100%;
	}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover { 
outline: 0;
color: #555555;
background-color: #ffffff;
border: 1px solid #ddd;
border-bottom-color: transparent;
cursor: default;
}	
	
/*==========================================Black Bar=======================================*/
#blackBar.container-fluid{
	padding-left:0em;
	padding-right:0em;
	height:86%;

	
	}

.blackBar{
	background:#000; 
	height:1.75em;
	}

.blackBarFont{
	color:#FFF !important; 
	font-size: 0.75em; 
	font-weight: 700;
	}	

/*==========================================Title Bar=======================================*/
#titleBar.container-fluid{
	padding-left:0em;
	padding-right:0em;
	height:100%;
	}	

.titleBar{
	min-height: 35px; 
	padding: 0px 0px;
	/*border-bottom: 1px solid #1F3A71;*/
	margin-bottom: 0.5em;
	}
	
.vzLogo{
	background-color:#FFFFFF; 
	margin-bottom: 0px !important; 
	/*min-height: 35px !important;*/
	width:100%;
	float:left;

	}

.nav > li > a {
    position: relative;
    display: block;
    padding: 20px 15px;
    top: 0.5em;
}
	}

#logo-main.img-responsive{
	display: inline-block;
	max-width: 100%;
	height: auto;
	}

.categoriesOff{
	display: none !important;
	visibility: hidden !important;
	}
.categoriesOn{
	display: inline !important;
	visibility: visible !important;
	}

.categoriesNav{
	font-size:16px; 
	text-align:left;
	top-margin:0.2em;
	color:#B3B3BE;
	}		

#searchInput{
	top:1em; 
	right:1em; 
	width:30%;
	}	

.nav-tabs {
    border-bottom: 0px solid #DDD;
	}	
	
#titleRow{
	border-bottom:1px solid #D5D5D5; 
	margin-top:1.7em; 
	height:3.7em;"
	}
#tilteBarDiv{
	height:6em;
	}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #000;
    background-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-color: #DDD #DDD transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    cursor: default;
	
}

/*==========================================Main Content=======================================*/
#mainContent{
	background-color:#FFF; 
	height:95%; 
	padding-top: 5px ; 
	padding-bottom: 50px ;
	/*border-top: 5px solid #F26522;*/
  /* Negative indent footer by it's height */
  margin: 0px auto -3%;
	}

/*==========================================Menu=======================================*/
#sidebar{
	background-color:#F0F4F5;
	height:100%;
	overflow:auto;
	/*border: 1px solid #D5D5D5;*/
	/*margin-right: 5px solid #FFF;*/
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	/border-right: 0.2em solid #CCCCCC;
	/*padding-right:0.5em;*/
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.125) inset;
	}

.bootstrap-switch.bootstrap-switch-large {
	min-width: 100%;
	}	
	
.btn-group-1 label.btn  {
	width: 100%;
	}
.btn-group-2 label.btn  {
	width: 50%;
	}
	
.btn-group-3 label.btn  {
	width: 25%;
	}
.btn-group {
	width: 100%;
	}	

/*.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey; 
	}
	
.panel-heading a.collapsed:after {
	content: "\e080";
	}*/
	
.panel {
    margin-bottom: 20px;
    background-color: #FFF;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.0);
	}
	
.panel-body {
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
	}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #000;
    text-decoration: none;
    outline: 0px none;
    background-color: #FFF;
}	




		
/*==========================================Meap=======================================*/
#map{
    height:100%;
    width:100%;
	border-top: 0px solid #3B3B3B;
	border-left: 10px solid #FFF;
	}
	 
#sliderDiv {
	position:absolute;
	width:100%; 
	height:10%; 
	bottom:0em; 
	background-color:#AEB7BC;
	
	z-index:19; 
	opacity:0.9;
	border-left: 10px solid #FFF;
	top:90%;
	/*box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;*/
	}

	 /*********** new ********************/
	 
	 #jqxslider {
    width: 45em !important;
    margin-left:auto; margin-right: auto;
    margin-top: 1.8em;
    margin-bottom: 0.8em !important;
    /*z-index:2000; */
}
#jqxslider2 {
     width: 45em !important;
    margin-left:auto; margin-right: auto;
    margin-top: 1.8em;
    margin-bottom: 0.8em !important;
}
 
 .tooltip {
     position: absolute;
     width: 35px;
     height: 40px;
     background: rgb(242,101,34);
     color: white;
     font-size: 12px;
     z-index: 2000;
     padding: 3px;
     text-align: center;
 }
 
  .tooltip2 {
     position: absolute;
     width: 35px;
     height: 40px;
     background: rgb(242,101,34);
     color: white;
     font-size: 12px;
     z-index: 2000;
     padding: 3px;
     text-align: center;
 }
 
 
 .jqx-fill-state-pressed-orange{
 	background: rgb(242,101,34) !important;
	}
	
	/********************************************/
.jqx-switchbutton-label{
	font-size: 15px !important;
	font-family: Helvetica !important;
	text-align: center !important;
	text-transform: none !important;
	color:#FFF;
	background-color: #3494D1;
	font-size:700;
	}	
	
#labelDiv{
	position:absolute; 
	top:0em; 
	left: 0em; 
	width:200px; 
	height:75px; 
	background-color:#FFFFFF; 
	opacity:0.8; 
	z-index:39;"
	}	
/*==========================================Footer=======================================*/
#footer{
	background-color:#353636; 
	bottom: 0em; 
	width:100%;
	height:10%;
	position:relative;
	margin-top:15px;
	}


	
.footerFont{
	color:#FFF !important; 
	font-size: 12px; 
	font-weight: 700;
	text-align:middle;
	margin: 9px 1px !important;
	right:1em;
	}	


.socialMedia{
	font-family: 'icomoon'; 
	font-size:2.4em; 
	color:#FFFFFF !important; 
	margin-left:0.5em !important;
	margin-top:0.5em;
	display:inline;
	/*margin-top:0.3em;*/
	}

.socialMedia:hover{
	color:#258FCE !important;
	}		
	
	
/*#crashToggleBtn{
position:relative;
width: 140px;
z-index: 1000;
margin: 0 auto;
margin-top:2em;
}

#crashTimeToggleBtn{
position:relative;
width: 140px;
z-index: 1000;
margin: 0 auto;
margin-top:2em;
}*/

/*================================================================Media Queries===============================================================================*/	
@media(max-width:767px){
	.blackBarOff{
		display: none !important;
		visibility: hidden !important;
	}
	
	
	#myTab{
		display: none !important;
		visibility: hidden !importan
	}
	
	.vzLogo{
		background-color:#FFFFFF; 
		margin-bottom: 0px !important; 
		width:25em;
		height:auto;
		float:left;
		display:block;
		margin-left:auto;
		margin-right:auto;
		}
	
	#mainContent{
			background-color:#FFF; 
			height:100%; 
			padding-top: 0px ; 
			padding-bottom: 0px ;
			border-top: 0px solid #F26522;
		}
	
	#labelDiv{
		position:absolute; 
		top:0em; 
		left: 0em; 
		width:200px; 
		height:75px; 
		background-color:#FFFFFF; 
		opacity:0; 
		z-index:39;"
		}
	
	
	#footer{
		display: none !important;
		visibility: hidden !important;
		}
	
.row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -120%; /* 6 columns */
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }



  .row-offcanvas-right.active {
   right: 120%; /* 6 columns */
   -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 100%; /* 12 columns */
  }	
	/*.row-offcanvas {
			position: relative;
			-webkit-transition: all 0.25s ease-out;
			-moz-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
		}
		
		.row-offcanvas-right
		.sidebar-offcanvas {
			right: -100%;
		}

		.row-offcanvas-left
		.sidebar-offcanvas {
			left: -100%;
		}
		
	
		.row-offcanvas-right.active {
			right: 100%;
	    }
		
		.row-offcanvas-left.active {
			left: 100%;
	    }
		
		.sidebar-offcanvas {
			position: absolute;
			top: 0;
			width: 100%;
		}*/

		
		#sidebar {
			background-color:#F0F4F5;
			padding-top:0;
			z-index:31;
		}
		
		#sidebar .nav>li {
			color: #ddd;
			background: linear-gradient(#3E3E3E, #383838);
			border-top: 1px solid #484848;
			border-bottom: 1px solid #2E2E2E;
		}
		  
		#sidebar .nav>li:first-child {
			border-top:0;
		}
		
		#sidebar .nav>li>a {
			color: #ddd;
		}
		  
		#sidebar .nav>li>a>img {
			max-width: 14px;
		}
		  
		#sidebar .nav>li>a:hover, #sidebar .nav>li>a:focus {
			text-decoration: none;
			background: linear-gradient(#373737, #323232);
			color: #fff;  
		}
		
		#sidebar .nav .caret {
			border-top-color: #fff;
			border-bottom-color: #fff;
		}
		  
		#sidebar .nav a:hover .caret{
			border-top-color: #fff;
			border-bottom-color: #fff;
		}	
	/*	.blackBarOff{
			display: none !important;
			visibility: hidden !important;
		}
		
		
		.categoriesOff{
			display: block !important;
			visibility: visible !important;
		}
		
		.categoriesOn{
			display: none !important;
			visibility: hidden !important;
		}
		
	
			
		
		/*.smallGui{
			display: block !important;
		}
		
		.stayOff{
			display: block !important;
			position:inline-block;
			}*/
		
		/*.vzLogo{
			background-color:#FFFFFF; 
			margin-bottom: 0px !important; 
			width:30em;
			height:auto;
			float:left;
			display:block;
			margin-left:auto;
			margin-right:auto;
			/*padding-left:5%;
			padding-right:5%;*/
	 
			}
			
		/*.titleBar{
			min-height: 10px; 
			padding: 5px 0px;
			margin-bottom: 0.0em;
		}
		
		#searchBtnSM {
		z-index:39;
		}
		
		#layerBtnSM {
		z-index:39;
		}
		
		#tilteBarDiv{
			height:5em;
		}
				
		
		#titleRow{
			border-bottom:0px solid #D5D5D5; 
			margin-top:1.7em; 
			height:100%;"
		
		}
		
		#labelDiv{
		position:absolute; 
		top:0em; 
		left: 0em; 
		width:200px; 
		height:75px; 
		background-color:#FFFFFF; 
		opacity:0; 
		z-index:39;"
		}
		
		
		#map{
			height:100%;
			width:100%;
			border-top: 1px solid #3B3B3B;
			border-left: 0px solid #FFF;
			z-index;49;
		}
		
		#col9,.myTab{
			display: none !important;
			visibility: hidden !important;
		}
				
		#logo-main.img-responsive{
			display: block;
			max-width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto
			}
			
		#map_zoom_slider{
			display: none !important;
			visibility: hidden !important;
			}
		
		#mainContent{
			background-color:#FFF; 
			height:100%; 
			padding-top: 0px ; 
			padding-bottom: 0px ;
			border-top: 0px solid #F26522;
		}
		
		#sliderDiv {
			position:absolute;
			width:100%; 
			height:10%; 
			bottom:0em; 
			background-color:#AEB7BC;
			z-index:19; 
			opacity:0.9;
			border-left: 0px solid #FFF;
			top:90%;
			/*box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;*/
		}
		
		/*.footerFont{
			color:#FFF !important; 
			font-size: 8px; 
			font-weight: 700;
			margin: 9px 1px !important;
		}	
			
				
		.container-fluid {
			margin-right: auto;
			margin-left: auto;
			padding-left: 0px;
			padding-right: 0px;
		}
		
		#footer{
			display: none !important;
			visibility: hidden !important;
			}
			
		.row-offcanvas {
			position: relative;
			-webkit-transition: all 0.25s ease-out;
			-moz-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
		}
		
		.row-offcanvas-right
		.sidebar-offcanvas {
			right: -82%;
		}

		.row-offcanvas-left
		.sidebar-offcanvas {
			left: -82%;
		}
		
	
		.row-offcanvas-right.active {
			right: 82%;
	    }
		
		.row-offcanvas-left.active {
			left: 82%;
	    }
		
		.sidebar-offcanvas {
			position: absolute;
			top: 0;
			width: 82%;
		}

		
		#sidebar {
			background-color:#F0F4F5;
			padding-top:0;
			z-index:31;
		}
		
		#sidebar .nav>li {
			color: #ddd;
			background: linear-gradient(#3E3E3E, #383838);
			border-top: 1px solid #484848;
			border-bottom: 1px solid #2E2E2E;
		}
		  
		#sidebar .nav>li:first-child {
			border-top:0;
		}
		
		#sidebar .nav>li>a {
			color: #ddd;
		}
		  
		#sidebar .nav>li>a>img {
			max-width: 14px;
		}
		  
		#sidebar .nav>li>a:hover, #sidebar .nav>li>a:focus {
			text-decoration: none;
			background: linear-gradient(#373737, #323232);
			color: #fff;  
		}
		
		#sidebar .nav .caret {
			border-top-color: #fff;
			border-bottom-color: #fff;
		}
		  
		#sidebar .nav a:hover .caret{
			border-top-color: #fff;
			border-bottom-color: #fff;
		}
		*/	
	}
@media(min-width:768px){	

	}
@media(min-width:992px){
	
		
	}
@media(min-width:1200px){
	}	
	
	
	
/*====================================================Fonts======================================================================================================*/		
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/fonts/icomoon.eot?-poohim');
	src:url('../fonts/icomoon/fonts/icomoon.eot?#iefix-poohim') format('embedded-opentype'),
		url('../fonts/icomoon/fonts/icomoon.woff?-poohim') format('woff'),
		url('../fonts/icomoon/fonts/icomoon.ttf?-poohim') format('truetype'),
		url('../fonts/icomoon/fonts/icomoon.svg?-poohim#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


		