 html, body{
        height: 100% !important;
        /*width: 100%;*/
        
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
		
		.container-fluid {
			margin-right: auto;
			margin-left: auto;
			padding-left: 0px;
			padding-right: 0px;
		}
	
/*---------------------------------------------------------Black Bar--------------------------------------------------------------*/
.blackBar{
	background:#000; 
	height:25px;
	}

.blackBarFont{
	color:#FFF !important; 
	font-size: 12px; 
	font-weight: 700;
	}	
/*---------------------------------------------------------Title Bar--------------------------------------------------------------*/
.titleBar{
	min-height: 35px; 
	padding: 10px 0px;
	border-bottom: 1px solid #1F3A71;
	/*margin-bottom: 0.5em;*/
	}

.vzLogo{
	background-color:#FFFFFF; 
	margin-bottom: 0px !important; 
	min-height: 25px !important;
	margin-top: 0.3em; 	
	/*margin-left: auto; 
	margin-right: auto;
	float: none; */
	}


	#logo-main.img-responsive{
	display: inline-block;
	max-width: 100%;
	height: auto;
	}
	
	
/*---------------------------------------------------------Blue Bar--------------------------------------------------------------*/	
.blueBar{
	background:#203970;
	height:40px;
	/*margin-bottom:5px;*/
	}

#searchInput.col-md-4{
	padding-right: 0px;
	}
	
.searchInput{
	margin-top:0.9em; 
	height:22px; 
	width: 100% !important; 
	font-size: 10px;
	margin-bottom: 15px;
	}

.searchInput.form-control{
	border: 1px solid #FFF;
	}	
	
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color:#258FCE;
	color: #FFF;
	}	
	
.smallGui{
	display: none !important;
	}
	
.stayOff{
	display: none !important;
	position:inline-block;
	}

.btn.noBorder{
	border: 0px solid transparent;
	}	

/*---------------------------------------------------Menu--------------------------------------------------------------------------------*/	
#opener {
    float:right;
   	background-color: rgb(242,101,34);
    margin:300px -40px 0px 0px;
    border-radius:0;
    z-index:1000;
	left: 4em;
	color:#FFF; 
	top:50%;
}

#menuGallery{
	width: 280px!important;
	height:100% !important;
	background-color:#F3F7F8 !important;
	margin-bottom: 0.5em
	
	}
	
.jqx-scrollview-page jqx-scrollview-summer{
	width: 300px!important;
	}	

#slide-panel {
	position:fixed;
    width:300px;
    height:80%;
    padding:0px;
    background:#FFF !important;
    margin-left:-300px;
    margin-top:0px;
    margin-bottom:0px;
    z-index:1000;
}

#sliderDiv{
    position:fixed;
	/*background-color: #000;*/
	background-color: rgb(200,207,218);
	height:9%;
	bottom: 0;  
	width: 100%;
	margin-bottom:1em;
	/*margin-top:1em;*/
	z-index:2000;
	/*margin-left:1.2%; margin-right:1.2%;*/
}

#crashToggleBtn{
position:relative;
width: 140px;
z-index: 1000;
margin: 0 auto;
margin-top:2em;
}

#crashTimeToggleBtn{
position:relative;
width: 140px;
z-index: 1000;
margin: 0 auto;
margin-top:2em;
}

.jqx-switchbutton-label{
font-size: 15px !important;
font-family: Helvetica !important;
text-align: center !important;
text-transform: none !important;
color:#FFF;
background-color: #3494D1;
font-size:700;
}

.toggleBtns{
width: 70px !important;
font-family: Helvetica !important;
color:  #203970 !important;
background-color: white !important
}

	
.radioBtn{
	color:#3B5483; 
	border-radius: 0px !important; 
	border-bottom: 0.2em Solid #CAC8C8 !important; 
	background-color:#F3F7F8; 
	text-align:left !important;
    }

.radioBtn:hover{
	background-color:#FFF;
	/*border-left: 0.2em Solid #CAC8C8 !important; */
	}

	
/*.btn:active, .btn.active {
    background-color: #FFF;
	border-left:0.2em Solid #CAC8C8;
    outline: 0px none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0) inset;
	color: #000;
	font-size: 16px !important;
}*/
	
	
.photo {
	position: relative;
	width: 300px;
	height: 650px;
	background-color: #000;
	background-position: center;
	background-repeat: no-repeat;
	}
	
	
		
/*---------------------------------------------------Time Slider----------------------------------------------------------------------------------*/	
#ex1Slider .slider-selection { /*JASON this is where the time slider css is*/
	background: #FFF;
	
	}
.slider.slider-horizontal {
	width:60%;
	margin-left:20%;
	padding-top:5%;
	
}

.slider-track {
    height: 6px;
    width: 100%;
    margin-top: -5px;
    top: 80%;
    left: 0px;
    
}

.slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #258FCE;
    filter: none;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    opacity: 1;
    border: 0px solid transparent;
}

 .tooltip {
     position: absolute;
     width: 35px;
     height: 40px;
     background: rgb(242,101,34);
     color: white;
     font-size: 12px;
     z-index: 2000;
     padding: 3px;
     text-align: center;
 }
 
#jqxslider {
    width: 60% !important;
    margin: 0 auto;
    margin-top: 0.8em;
    margin-bottom: 0.8em !important;
}
 
 .dijitSliderProgressBar {
background-color: rgb(242,101,34) !important;
}

/*---------------------------------------------------------Map--------------------------------------------------------------*/			

#map{
	height:80% !important;
	margin-top: 0.5em;
		overflow:hidden;
	}
	
#menu{
	background-color:red;
    }	
	
#mapDiv{
	height:50% !important;
	margin-bottom: 0.5em;
	}

	.claro .dijitRuleLabel {
        color: white;
      }
      .claro .dijitRuleMark {
        border: 1px solid #fff;
      }

	
/*---------------------------------------------------------------ESRI Slider--------------------------------------------------------------------*/
/*.dj_a11y div.dijitSliderImageHandle, .dijitSliderImageHandle {
    margin: 0px;
    padding: 0px;
    position: relative !important;
    border: 8px solid #258FCE;
	background-color: #258FCE;
    filter: none;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    opacity: 1;
    border: 0px solid transparent
    width: 0px;
    height: 0px;
    cursor: pointer;
}

.dijitSliderProgressBar {
    background-color: rgba(255,255,255,0);
    z-index: 1;
}

/*---------------------------------------------------------Footer--------------------------------------------------------------*/	
.footerFont{
	color:#FFF !important; 
	font-size: 12px; 
	font-weight: 700;
	text-align:middle;
	 margin: 9px 1px !important;
	}	


.socialMedia{
	font-family: 'icomoon'; 
	font-size:1.45em; 
	color:#FFFFFF !important; 
	margin-left:0.5em;
	/*margin-top:0.3em;*/
	}

.socialMedia:hover{
	color:#258FCE !important;
	}	
	
/*---------------------------------------------------------Media Queries---------------------------------------------------------*/
@media(max-width:767px){
		.blackBarOff{
			display: none !important;
			visibility: hidden !important;
		}
		
		.smallGui{
			display: block !important;
		}
		
		.stayOff{
			display: block !important;
			position:inline-block;
			}
		
		.vzLogo{
			background-color:#FFFFFF; 
			margin-bottom: 0px !important; 
			min-height: 20px !important;
			margin-top: 0.3em; 
			margin-left: auto; 
			margin-right: auto;
			}
		#logo-main.img-responsive{
			display: block;
			max-width: 100%;
			height: auto;
			}
			
		.blueBar{
			background:#203970; 
			height:2px;
			margin-bottom:0px;
			}	
			
		#map_zoom_slider{
			display: none !important;
			visibility: hidden !important;
			}
			
		.footerFont{
			color:#FFF !important; 
			font-size: 8px; 
			font-weight: 700;
			margin: 9px 1px !important;
			}	
			
			#mapDiv{
				height:83% !important;
				}
				
			.container-fluid {
			margin-right: auto;
			margin-left: auto;
			padding-left: 0px;
			padding-right: 0px;
		}
		
	}
@media(min-width:768px){
	}
@media(min-width:992px){
	}
@media(min-width:1200px){
	}

/*---------------------------------------------------------Icons-----------------------------------------------------------------*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/fonts/icomoon.eot?-poohim');
	src:url('../fonts/icomoon/fonts/icomoon.eot?#iefix-poohim') format('embedded-opentype'),
		url('../fonts/icomoon/fonts/icomoon.woff?-poohim') format('woff'),
		url('../fonts/icomoon/fonts/icomoon.ttf?-poohim') format('truetype'),
		url('../fonts/icomoon/fonts/icomoon.svg?-poohim#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
	content: "\31";
}
.icon-facebook:before {
	content: "\33";
}
.icon-twitter:before {
	content: "\32";
}
.icon-github:before {
	content: "\34";
}
.icon-warning:before {
	content: "\25";
}






/*===================================================================================================================================*/

/*===================================================================================================================================*/

#sliderLabel{
	
	color: white;
	top: 3em;
	left:20em;
	display: none;
}

/************************ new June 16 test ***************************/


/****************** new June 17 **************************/



 /********************************************************/

      
