html {
  min-height: 100%;
  position: relative;
}

body{
	margin-bottom: 1.75em;
}

#blackBar.container-fluid{
	padding-left:0em;
	padding-right:0em;
	height:86%;
}

.blackBar{
	background:#000; 
	height:1.75em;
}

.blackBarFont{
	color:#FFF !important; 
	font-size: 0.75em; 
	font-weight: 700;
}	

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid #DDD;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #F26522 !important;
	background-color: #FFF !important;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD #DDD transparent;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	cursor: default;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover { 
	outline: 0 !important;
	color: #555555;
	background-color: #ffffff;
	border: 1px solid #DDD;
	border-bottom-color: transparent;
	cursor: default;
}	

.nav-tabs {
    border-bottom: 0px solid #DDD;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 20px;
}
	
#titileDIV.container{
	margin-left:0px;
	margin-right:0px;
	padding-left:0em;
	padding-right:0em;
	width:100%;
}
	
.vzLogo {
    width: 20em;
    margin-top: 1.8em;
	margin-left: auto;
	margin-right: auto;
}


#searchBorough, #searchBorough1{
	background-color: rgba(255,255,255,1); 
	background: rgba(255,255,255,1); 
	color: #666666; 
	border: 1px solid #D5D5D5; 
	border-right: 0px;
}

#searchInput{
	margin-top: 2.1em;
	margin-right:1em;
}

#address, #address1{
	background-color: rgba(255,255,255,1); 
	background: rgba(255,255,255,1); 
	color: ##D5D5D5; 
	background-color: rgba(255,255,255,1); 
	background: rgba(255,255,255,1); 
	border: 1px solid #D5D5D5;
}

#btnsearch, #btnsearch1{
	background-color: rgba(255,255,255,1); 
	background: rgba(255,255,255,1); 
	border: 1px solid #D5D5D5; 
	color: ##D5D5D5; 
	border-left: 0px
}

/*#layerNav{
	margin-left:2em !important;
}*/


/*
.navbar-nav.navbar-collapse {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}*/

#sidebar{
	height:20%;
	overflow:auto;
}	

.categoriesFontIcon{
	font-family: 'icomoon'; 
	margin-left: 3px;
}
	
#map{
    height:100%;
    width:100%;
}

#mainRow{
	margin-left: 15px;
	margin-right: 15px;
}	

#mainContent{
	bottom-padding:15px;
}

#sliderDiv {
	position:absolute;
	width:100%; 
	height:4em; 
	bottom:0em; 
	left:0em;
	/*background: linear-gradient(#B3B3BE, #AEB7BC) repeat scroll 0% 0% #AEB7BC;
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#B3B3BE', endColorstr='#AEB7BC');*/
	background-color:#AEB7BC;
	z-index:19; 
	opacity:0.9;
	border-left: 30px solid #FFF;
	border-right: 30px solid #FFF;
}
	 
#jqxslider {
    width: 45em !important;
    margin-left:auto; margin-right: auto;
    margin-top: 1.8em;
    margin-bottom: 0.8em !important;
    
}
#jqxslider2 {
    width: 45em !important;
    margin-left:auto; margin-right: auto;
    margin-top: 1.8em;
    margin-bottom: 0.8em !important;
}
 
 .tooltip {
     position: absolute;
     width: 35px;
     height: 40px;
     background: rgb(242,101,34);
     color: white;
     font-size: 12px;
     z-index: 2000;
     padding: 3px;
     text-align: center;
 }
 
.tooltip2 {
	 position: absolute;
	 width: 35px;
	 height: 40px;
	 background: rgb(242,101,34);
	 color: white;
	 font-size: 12px;
	 z-index: 2000;
	 padding: 3px;
	 text-align: center;
}
 
 /****************************** new July 23 ******************************/
.crashTypeBtnBlock{
	margin-left: auto; margin-right: auto;
	width: 100%;
	 
}
.crashTypeSwitchBtns  {
	/*margin-bottom: 1em;*/
}
.districtBtns {
	/*margin-bottom: 1em;*/
}

.esriPopup .titleButton.maximize {  
     display: none;  
}
/*.btn.btn-default.crashTypes.active{
	background-color: #0546A5;
}*/
	
#layerLabel{
	font-weight: bold
}
#dateLabel{
	font-weight: bold
}

.jqx-fill-state-normal{
 	background: rgb(242,101,34) !important;
}
	
.summaryBox{
	margin-left:auto; margin-right: auto;
	/*padding-top: 2em;*/
}

.districtLabel{
	margin-left:auto; margin-right: auto;
}

.input-group.districtBtnGroup{
	width: 99% !important;
	padding-top:2em!important;
	padding-bottom: 2em!important;
}
 
.jqx-fill-state-pressed-orange{
 	background: rgb(242,101,34) !important;
}
	

.jqx-switchbutton-label{
	font-size: 15px !important;
	font-family: Helvetica !important;
	text-align: center !important;
	text-transform: none !important;
	color:#FFF;
	background-color: #3494D1;
	font-size:700;
}	
	
#labelDiv {
position: absolute;
top: 1.5em;
left: 3.5em;
width: 200px;
height: 140px;
background-color: #FFF;
opacity: 0.8;
z-index: 39;
box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.075);
display: block;
}

.crashLabel1{
	float:left 
	margin-left:2em;
	font-size: .9em;
}

.crashLabel2{
	float:left 
	margin-left:2em;
	font-size: 1.5em;
}

#labelTable{
	padding: 1em;
}
	
.labelRow{
	padding-left: 1.2em;
	padding:top: .8em;
}
	
/*.btnSide{
	padding-bottom: 9px;
	padding-top: 9px;
	font-size: 16px;
	line-height: normal;
	width: 50%;
}*/



/*.btn-group-1 label.btn  {
	width: 100%;
}

.btn-group-2 label .btn {
	width: 45%;
}*/

/************************************************************************/
/* new july 28*/

.interventionBtns.active{
	background-color:white;
}
.interventionBtns:focus{
	background-color:white;
}
.btn-default:hover{
	background-color:#fafafa;
}

.outreachBtns.active{
	background-color:white;
}
.outreachBtns:focus{
	background-color:white;
}
	
.btn-group-3 label.btn  {
	width: 25%;
}

/*.glyphiconFix {
    position: relative;
    top: -15px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}*/
	
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 1.75em;
	border: 1px solid #333;
	background: linear-gradient(#3C3C3C, #111) repeat scroll 0% 0% #111;
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#3C3C3C', endColorstr='#111');
	/*background-color:#000;*/
	color: #FFF;
	font-weight: bold;
	text-shadow: 0px -1px 1px #000;
}

.navbar-form .input-group-btn,
.navbar-form .input-group-addon {
	width: auto;
}

.navbar-right .dropdown-menu {
    left: 0;
    right: auot;
}

.crashIcon{
	font-family: 'icomoon'; 
	font-size: 1.8em;
	}

.panel-body {
  height: 50%;
  padding-bottom: -55px;
}


	
/*===============================================================================================================================================================*/
/*phone*/
@media only screen and (min-width : 320px) {
	.vzLogo {
    width: 5em;
	margin-top: 1em !important;
	margin-left: auto;
	margin-right: auto;
	}
	
	
	#map_zoom_slider{
		display: none !important;
		visibility: hidden !important;
	}
}

/*phone*/
@media(max-width:767px){
	.vzLogo {
    width: 15em;
	margin-top: 1em !important;
	margin-left: auto;
	margin-right: auto;
	}
	
	#layerNav{
	margin-left:0.7em !important;
	}
	
	#searchNav1{
	margin-right: -1.4em !important;
	}
	
	#map{
    height:50%;
    width:100%;
	}
	
	#map_zoom_slider{
		display: none !important;
		visibility: hidden !important;
	}
}

/*Tablet*/
@media(min-width:768px){
	.vzLogo {
    width: 20em;
	margin-top: 1.8em !important;
	margin-left: auto;
	margin-right: auto;
	}

	#outreachBtns{
	text-align: left; 
	white-space: normal;
	font-size:0.8em;
	}
	
	#map_zoom_slider{
		display: block !important;
		visibility: visible !important;
	}

}
/*Desktop*/
@media(min-width:992px){
	.vzLogo {
    width: 20em;
	margin-top: 1.8em !important;
	margin-left: auto;
	margin-right: auto;
	}
}
	
	
/*Large Screen*/
@media(min-width:1200px){
	#collapseOne{
	display:block !important;
	visibility: hidden !important;
	height:0px !important;
	}
}

@media(min-width:1108px){
	#collapseOne{
	display:block !important;
	visibility: hidden !important;
	height:0px !important;
	}
}


@media (max-width: 1107px) {

    #searchNav.navbar-toggle {
        display: block;
    }
    #collapse-search.navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    #collapse-search.navbar-collapse.collapse {
        display: none!important;
    }
    #collapse-search_ul.navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	#collapse-search_ul.navbar-nav>li {
        float: none;
    }
    #collapse-search_ul.navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #collapse-search.collapse.in{
  		display:block !important;
	}
	
	#searchNav{
	margin-right:2em !important;
	margin-top:2em !important;
	margin-left:15px;
	}
	
	#searchNav1.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 8px 13px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	}
	
	#searchNav.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 8px 13px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	}
	
	#layerNav.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 8px 13px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	}
}



@media (max-width: 802px) {

    #layerNav.navbar-toggle {
        display: block;
    }
}




/*====================================================Fonts======================================================================================================*/		
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/fonts/icomoon.eot?-poohim');
	src:url('../fonts/icomoon/fonts/icomoon.eot?#iefix-poohim') format('embedded-opentype'),
		url('../fonts/icomoon/fonts/icomoon.woff?-poohim') format('woff'),
		url('../fonts/icomoon/fonts/icomoon.ttf?-poohim') format('truetype'),
		url('../fonts/icomoon/fonts/icomoon.svg?-poohim#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapperRow{
	/*margin-right: -40px; 
	margin-left: -40px;"*/
}

.mainTitle{
	text-align: center; 
	color: #F26522; 
	margin-top: 0px; 
	white-space:normal;"
}		

.subTitle{
	margin-top:2.2em; 
	/*margin-left:1em; */
	color:#565656; 
	font-weight:700;
	text-align:center;
}

.subTitleTop{
	margin-top:1em; 
	margin-left:0em; 
	color:#565656; 
	font-weight:700;
	text-align:center;
}

.subTitleBottom{
	margin-top:2.2em; 
	margin-left:0em; 
	color:#565656; 
	font-weight:700;
	text-align:center;
}

.btnWho{
	font-family: 'icomoon'; 
	font-size: 1.8em; 
}

.bottomMargin{
	margin-bottom: 1.5em;
}


.graphTitle{
	"margin-top:2em; 
	color:#565656; 
	font-weight:800;
}

.footNote{
	margin-left: 1em; 
	font-size: 0.9em; 
	font-weight:200;"
}

#loadingImg{
	
	top:50%;
	right: 35%;
	position:fixed;
}
