#layerNav-mobile {
  display: none;
}

@include breakpoint(SM) {

  #mainRow {
    margin: 0;
  }

  .mobile-map {
    margin-bottom: 0 !important; // shameful but had to be done
    padding: 0;
  }

  #map {
    //height: 100% !important;
  }

  #map_root {
    margin: 0;
    // height: 100% !important;
    width: 100% !important; // shameful but had to be done
  }

  #labelDiv {
    top: 10px;
    left: 10px;
    padding: 10px 15px 12px 15px;
    height: auto;
    width: auto;
    z-index: 8;
  }

  #labelTable {
    padding: 0;
    .labelRow {
      padding: 0;
    }
  }

  #layerNav {
    display: none;
  }

  #layerNav-mobile {
    border-color: #20396F;
    display: block;
    left: 10px;
    top: 10px;
    margin: 0;
    &:hover,
    &:focus {
      background-color: #20396F;
    }
  }

  .map-icon {
    background-color: #20396F;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    top: auto;
    right: 10px;
    z-index: 1040;
    cursor: pointer;
    padding: 5px;
    font-size: 24px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }

  .glyphicon-info-sign {
    bottom: 10px;
  }

  .glyphicon-screenshot {
    top: 65px;
    bottom: auto;
  }

  .glyphicon-share {
    bottom: 50px;
  }

}

