@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?g6pa2s');
	src:url('fonts/icomoon.eot?#iefixg6pa2s') format('embedded-opentype'),
		url('fonts/icomoon.woff?g6pa2s') format('woff'),
		url('fonts/icomoon.ttf?g6pa2s') format('truetype'),
		url('fonts/icomoon.svg?g6pa2s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
	content: "\38";
}
.icon-cone:before {
	content: "\39";
}
.icon-SpeechBubble:before {
	content: "\21";
}
.icon-graph:before {
	content: "\30";
}
.icon-all:before {
	content: "\37";
}
.icon-motorist:before {
	content: "\31";
}
.icon-cyclist:before {
	content: "\32";
}
.icon-facebook:before {
	content: "\33";
}
.icon-gmail:before {
	content: "\34";
}
.icon-pedestrian:before {
	content: "\35";
}
.icon-twitter:before {
	content: "\36";
}
